.custom-modal {
    width: 70%;
}
.bozdo{
    width: 200px;
    height: 1530px;
    
}

.playButton {
    width: 70px;
    height: 70px;
    border-radius: 200px;
    background: yellow;
}

.link-input {
    width: 460px;
    margin: 0 8px 8px 0;
  }

  .short-descr-input {
    width: 460px;
    margin: 0 8px 8px 0;
  }
  .descr-input {
      width: 460px;
    margin: 0px 8px 8px 0;
  }