
/* .player-play-btn {
    border: solid black 2px;
    border-radius: 20%;
    margin-left: 40px;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.player-play-btn:hover {
    border: solid blueviolet 2px;
    border-radius: 20%;
    margin-left: 40px;
    margin-top: 25px;
    width: 50px;
    height: 50px;
   
} */

.general-content{
    margin: 20px;
    border: 1px solid black;
}
.treebeard-contaiter{
    display: flex;
    justify-content: center;
}
.treebeard{
}

body {
    opacity: 0.9 !important;
    background-color:  rgba(125, 192, 255, 0.576) !important;
}
/* .base-treebeard-title{
    lineHeight: 24px;
    verticalAlign: middle;
} */
.treebeard-list-folder{
    box-shadow:  0 0 2px rgba(0,0,0,0.5);
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word;
    border-radius: 5px;
}
.cover-contaiter{
    max-height: 600px;
    padding: 20px 20px 200px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 2px;
    display: flex;
    justify-content: center;

}
.undercover-list-item {
    list-style-type: none;
}

@media (min-width: 1000.98px) { 
    .general-content{ /* tree and image container */
        display: flex;
        justify-content: space-around;
    }
    .cover-img {
        max-width: 400px;

    }
    .base-treebeard-header {
        display: inline-block;
        color: green;
    }
 }

@media (max-width: 1000.98px) { 
    .general-content{ /* tree and image container */
        display: list-item;
        justify-content: space-around;
    }
    .cover-img {
        display: flex;
        max-width: 400px;
    }
    .base-treebeard-header {
        display: inline-block;
        color: green;
    }
 }

 @media (max-width: 300.98px) { 
    .cover-img {
        display: flex;
        max-width: 140px;
    }
    .base-treebeard-header {
        display: inline-block;
        color: green;
        margin-right: 20px;
    }
 }