.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer-container {
    position:fixed;
    left:0px;
    bottom:0px;
    height:165px;
    width: 100%;
    z-index: 1;
}
#footer-background {
    position:fixed;
    left:0px;
    bottom:0px;
    min-width: 96.6%;
    z-index: 0;
    opacity: 0.4;
    margin: 18px 21px 17px 20px;
    height : 129px;
    border-radius: 20px;
}

.content-container {
  padding-bottom: 140px;
}


.messages-container {
    width: 600px;
    position: absolute;
    z-index: 3;
}
.wrapper {
}

body {
    opacity: 0.9 !important;
    background-color:  rgba(125, 192, 255, 0.576) !important;
}