.dropZone  {
    height: 180px;
    width: 90%;
    display: flex;
    border: 2px dashed #a4a696;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*.dropZone:hover {*/
    /*cursor: pointer;*/
    /*border: 2px dashed #343735;*/
/*}*/

.upload-container {
    margin: 40px;
    /*margin-left: 20px;*/
    min-width: 400px;
    /*display: contents;*/
    /*justify-content: center;*/
}

.select-download-folder {
    width: 90%;
}

.dropZone-reject{
    cursor: pointer;
    border: 2px dashed red;
    background: rgba(226, 137, 137, 0.66);
}
.dropZone-accept{
    cursor: pointer;
    border: 2px dashed green;
    background: rgba(186, 186, 186, 0.42);
}

.upload-start-icon {
    font-size: 40px;
    color: gray;
}

.upload-start-icon:hover {
    font-size: 40px;
    color: black;
}

.uploaded-file-list {
    margin-top: 10px;
    max-width: 90%;
}